/* Write your CSS here */
/* Write your CSS here */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
.bg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .app-card {
    border-radius: 10px;
    background-color: #AAAA39;
    border-style: none;
    width: 80%;
    padding-top: 48px;
    padding-bottom: 16px;
    padding-left: 36px;
    padding-right: 36px;
  }

  @media only screen and (min-width:768px) {
    .app-card{
      width: 50%;
    }
  }
  
  .name-image-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
  }
  
  .icon {
    border-radius: 40px;
    padding: 20px;
    background-color: #ffffaa;
    font-family: 'roboto';
    font-size: 24px;
    color: #555500;
    margin-right: 20px;
  }
  
  .name {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #ffffaa;
    margin-right: 20px;
    font-weight: 500;
  }
  
  .balance-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .balance-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #ffffaa;
  }

  @media only screen and (min-width:768px) {
    .balance-header {
      font-size: 24px;
    }
  }
  
  .balance-amt-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .balance-amt {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #ffffaa;
  }

  @media only screen and (min-width:768px) {
    .balance-amt {
      font-size: 30px;
    }
  }
  
  .rupees-tag {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #555500;
  }
  
  @media only screen and (min-width:768px) {
    .rupees-tag {
      font-size: 18px;
    }
  }
  .withdraw-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #ffffaa;
    font-weight: 600;
  }

  @media only screen and (min-width:768px) {
    .withdraw-header {
      font-size: 30px;
    }
  }
  
  .withdraw-tag {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #ffffaa;
  }
  @media only screen and (min-width:768px) {
    .withdraw-tag {
      font-size: 24px;
    }
  }
  
  .button-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }

  ul{
    padding-inline-start: 0;
  }
  